* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
}
body {
  background-color: #0B0B0B;
  height: 100vh;
}
button, a {
  color: darkorange;
  font-size: 20px;
  font-weight: 600;
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  text-decoration: none;
}
textarea {
  border: none;
  border-radius: 5px;
  width: 300px;
  color: black;
  padding: 5px 5px;
  font-size: 16px;
  font-weight: 500;
  resize: none;
  outline: none;
  margin-bottom: 10px;
  background-color: #D1CCBF;
}

